<h3>Add Book</h3>

<form (ngSubmit)="addBook()">
  <label>Title:</label>
  <input [(ngModel)]="book.title" name="title" required /><br />

  <label>Author:</label>
  <input [(ngModel)]="book.author" name="author" required /><br />

  <label>Price:</label>
  <input [(ngModel)]="book.price" name="price" type="number" required /><br />

  <label>Quantity:</label>
  <input [(ngModel)]="book.quantity" name="quantity" type="number" required /><br />

  <button type="submit">Add Book</button>
</form>

<p *ngIf="message" style="color: green; margin-top: 10px;">
  {{ message }}
</p>
