<h3>Edit Book</h3>
<div>
  <label for="bookId">Enter Book ID:</label>
  <input type="number" [(ngModel)]="bookId" />
  <button (click)="fetchBook()">Fetch Book</button>
</div>

<div *ngIf="book">
  <form (ngSubmit)="updateBook()">
    <label>Title:</label>
    <input [(ngModel)]="book.title" name="title" required /><br>

    <label>Author:</label>
    <input [(ngModel)]="book.author" name="author" required /><br>

    <label>Price:</label>
    <input [(ngModel)]="book.price" name="price" type="number" required /><br>

    <label>Quantity:</label>
    <input [(ngModel)]="book.quantity" name="quantity" type="number" required /><br>

    <button type="submit">Update</button>
  </form>
</div>

<div *ngIf="message">
  {{ message }}
</div>
