<div class="container mt-4">
    <h2>Edit Book</h2>
  
    <form (ngSubmit)="onSubmit()" #editForm="ngForm">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" class="form-control" required [(ngModel)]="book.title" name="title">
      </div>
  
      <div class="mb-3">
        <label for="author" class="form-label">Author Name</label>
        <input type="text" id="author" class="form-control" required [(ngModel)]="book.authorName" name="authorName">
      </div>
  
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" id="price" class="form-control" required [(ngModel)]="book.price" name="price">
      </div>
  
      <div class="mb-3">
        <label for="quantity" class="form-label">Quantity</label>
        <input type="number" id="quantity" class="form-control" required [(ngModel)]="book.quantity" name="quantity">
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Update</button>
    </form>
  </div>
  